<div id="comments">
  <div class="ds-thread" data-thread-key="{{ page.wordpress_id || page.id }}" data-title="{{ page.title }} - {{ site.title }}"></div>

  <script type="text/javascript">
    var duoshuoQuery = {short_name:"zhlwish"};
(function() {
 var ds = document.createElement('script');
 ds.type = 'text/javascript';ds.async = true;
 ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
 ds.charset = 'UTF-8';
 (document.getElementsByTagName('head')[0] 
  || document.getElementsByTagName('body')[0]).appendChild(ds);
 })();
  </script>
</div>

